<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.ma.mapper.CarMapper">
    <resultMap id="" type="car">
        <result property="carType" column="car_type"/>

    </resultMap>
<!--    批量插入 一次插入多条信息-->
    <insert id="insertBatch">
        insert into t_car values
        <foreach collection="cars" item="car" separator=",">
            (null,#{car.carNum},#{car.brand},#{car.guidePrice},#{car.produceTime},#{car.carType})
        </foreach>
    </insert>

    <delete id="deleteByIds">
<!--     foreach 标签属性
            collection: 指定数组或者集合
            item: 代表数组或集合中的元素 变量名
            separator: 循环之间的分隔符
            底层一个map集合
            map.put("array", )
            map.put("arg0",)
-->
<!--         delete from t_car where id in(-->
<!--        <foreach collection="arg0"  item="id" separator=",">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--        )-->
        delete from t_car where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
<!--    删除使用or -->
    <delete id="deleteByIds2">
        delete from t_car where
        <foreach collection="ids" item="id" separator="or">
            id = #{id}
        </foreach>
    </delete>

<!--    sql 标签 和 include标签-->
    <sql id="CarColumn">
        id,
        car_num as carNum,
        brand,
        guide_price as guidePrice,
        produce_time as produceTime,
        car_type as carType
    </sql>

    <select id="selectById" resultType="com.ma.pojo.Car">
        select
        <include refid="CarColumn"/>
        from t_car where id = #{id}
    </select>


    <select id="selectByChoose" resultType="com.ma.pojo.Car">
    select * from t_car
        <where>
            <choose>
                <when test="brand != null and brand!=''">
                    brand like "%"#{brand}"%"
                </when>
                <when test="guidePrice != null and guidePrice != ''">
                    guide_price > #{guidePrice}
                </when>
                <otherwise>
                    car_type = #{carType}
                </otherwise>
            </choose>
        </where>



    </select>



    <update id="updateById">
        update t_car set
        car_num = #{carNum},
        brand = #{brand},
        guide_price = #{guidePrice},
        car_type = #{carType}
        where id = #{id}
    </update>

    <update id="updateBySet">
        update t_car
        <set>
            <if test="carNum != null and carNum != ''">car_num = #{carNum},</if>
            <if test="brand != null and brand != ''">brand = #{brand},</if>
            <if test="guidePrice != null and guidePrice != ''">guide_price = #{guidePrice},</if>
            <if test="produceTime != null and produceTime != ''">produce_time= #{produceTime},</if>
            <if test="carType != null and carType != ''">car_type = #{carType}</if>
        </set>
        where
            id = #{id}
    </update>

    <!--    where 标签的使用-->
    <select id="selectByMultiConditionWhere" resultType="com.ma.pojo.Car">
        select * from t_car
        <where>
            <if test="brand != null and brand != ''">
                brand like "%"#{param1}"%"
            </if>
            <if test="guidePrice != null and guidePrice != ''">
                and guide_price > #{guidePrice}
            </if>
            <if test="carType!=null and carType != ''">
                and car_type = #{carType}
            </if>
        </where>

    </select>

    <!-- 多条件查询 -->
<!--    如果为ture 将内容拼接到sql语句上去-->
<!--    test 的值必须为true 或 false-->
<!--    不能使用&& 只能使用and-->

    <select id="selectByMultiCondition" resultType="com.ma.pojo.Car">
        select * from t_car where 1 = 1
        <if test="brand != null and brand != ''">
           and brand like "%"#{param1}"%"
        </if>
        <if test="guidePrice != null and guidePrice != ''">
            and guide_price > #{guidePrice}
        </if>
        <if test="carType!=null and carType != ''">
            and car_type = #{carType}
        </if>
    </select>
<!--   trim 标签-->
    <select id="selectByMultiConditionWithTrim" resultType="com.ma.pojo.Car">
        select * from t_car
        <trim prefix="where" suffixOverrides="and">
            <if test="brand != null and brand != ''">
                 brand like "%"#{param1}"%" and
            </if>
            <if test="guidePrice != null and guidePrice != ''">
                 guide_price > #{guidePrice} and
            </if>
            <if test="carType!=null and carType != ''">
                car_type = #{carType}
            </if>
        </trim>
    </select>


</mapper>