<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">
<!--    id 是这条sql 语句的唯一标识符-->
    <insert id="insertCar">
        insert into t_car(car_num, id, brand, guide_price, produce_time, car_type)
        values ('wojiudddd',null,'nihaaao',202,'2002-11-22','汽车');
    </insert>
</mapper>