<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>


<!--    <properties>-->
<!--        <property name="jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--        <property name="jdbc.url" value="jdbc:mysql://localhost:3306/db2"/>-->
<!--        <property name="jdbc.username" value="root"/>-->
<!--        <property name="jdbc.password" value="123456789"/>-->
<!--    </properties>-->
    <properties resource="jdbc.properties"/>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>
<!--    起别名-->
    <typeAliases>
<!-- 指定给哪个类型起别名
   不区分大小写
   可以省略alias
-->
<!--        <typeAlias type="com.ma.pojo.Car" alias="aaa"/>-->
        <package name="com.ma.pojo"/>
<!--        指定一个包下自动起别名 别名就是类简名-->
    </typeAliases>
    
    <environments default="WIN">
        <environment id="MAC">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
        <environment id="WIN">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/db1"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="CarMapper.xml"/>-->
<!--        <mapper class="com.ma.mapper.CarMapper"/>-->
<!--        所有的都被扫描到-->
        <package name="com.ma.mapper"/>
    </mappers>
<!--    mappers 的配置
        resource 类路径下查找文件
        url 绝对路径方式
        class 全限定接口名带有包名
        com.ma.mapper.CarMapper
        将要去 com/ma/mapper/CarMapper.xml文件

-->

</configuration>